<!DOCTYPE html>
<html lang="zh-Hant-TW">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue 3 新手夏令營-Week1</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css"
    />
    <link rel="stylesheet" href="./style.css">
  </head>

  <body>
    <div id="app">
      <div class="container">
        <div class="my-3">
          <button
            type="button"
            class="btn btn-outline-primary"
            @click="changeres"
          >
            切換大頭貼解析度
          </button>
          現在圖片解析度：
          <span>{{picType[picindex].title}}</span>
        </div>

        <div class="row">
          <div class="col-md-4 mb-3" v-for="person in users">
              <div class="card h-100">
                <div class="position-absolute" style="top: 20px; right: 20px">
                  <button
                    type="button"
                    class="btn btn-outline-danger rounded-pill"
                  >
                    <i class="bi bi-heart fs-5"></i>
                  </button>
                </div>
                <img
                    
                  :src="person.picture[picType[picindex].type]"
                  class="card-img-top"
                />
                <div class="card-body">
                  <h5 class="card-title">
                    {{person.first}}{{person.last}}
                    ( 
                      <span v-if="person.gender === 'male'">👨</span> 
                      <span v-else>👧</span> 
                    )
                  </h5>
                  <p class="card-text">
                    Email：
                      <a :href="person.email">
                        {{ person.email }}
                      </a>
                  </p>
                  <p class="card-text">
                    Phone: 
                      <a :href="'tel:person.phone'">
                        {{ person.phone }}
                      </a>
                  </p>
                  <p class="card-text">
                    Cell: 
                      <a :href="'tel:person.cell'">
                        {{ person.cell }}
                      </a>
                  </p>
                  <p class="card-text">
                    City: {{ person.location.city }}
                  </p>
                  <p class="card-text">
                    State: {{ person.location.state }}
                  </p>
                 
                  <p class="card-text">
                    Postcode:{{ person.location.postcode }}
                  </p>
                
                  <p class="card-text">
                    description: {{ person.location.timezone.description }}
                  </p>
                  <p class="card-text">
                    <small class="text-muted"
                      >dob：{{ person.dob.date }}</small
                    >
                  </p>
                  <p class="card-text">
                    <small class="text-muted">
                      registered：{{ person.registered.date }}
                    </small>
                  </p>
                 
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8"
      crossorigin="anonymous"
    ></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue@next"></script>

    <script>
       Vue.createApp({
        data(){
          return {
            users: [],
            picType:[
              {type: 'large', title:'清晰'},
              {type: 'medium', title:'中等'},
              {type: 'thumbnail', title:'模糊'}
            ],
            picindex:0,
          };  
        },
        methods: {
          getData() {
            axios.get("https://randomuser.me/api/?results=12").then((response) => {
              //console.log(response);
              this.users = response.data.results;
              //console.log(this.users);
            });
           
          },
           changeres(){
              this.picindex = ++this.picindex%3;
            },
        },
        
        mounted (){
          this.getData();
        }
        
      }).mount('#app');
    </script>
  </body>
</html>